:root {
  --main-heading-color: #212121;
  --background-color: #2f303a;
  --text-color: #757575;
  --focus-color: #2196f3;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-current-color: #fff;
  --main-adress-color:  rgba(179, 179, 179, 0.6);
}