h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-heading-color);
}
h4{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--main-heading-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.flex {
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-list {
  align-items: center;
  gap: 50px;
}
.header-nav-link {
  margin-right: 93px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
  font-family: var(--second-family);
}
.header-contacts-items {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* email header transition color  */
.email-header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-header-link:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
}
/* phone header transition color */
.phone-header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-header-link:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;  
}
.header-contacts-items:hover {
  fill: #2196f3;
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.logo {
  color: #2196f3;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-heading-color);
}
.header-list-item a:hover,
.header-list-item a:focus{
  color: var(--focus-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
/* header list item */
.header-list-item {
  position: relative; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-item a::after {
  content: '';
  position: absolute;
  top: 46px;
  width: 0;
  height: 4px; /* thickness of the underline */
  display: block;
  bottom: 0; /* align underline at the bottom of the link */
  left: 0; /* start from the left */
  background: #2196F3; /* underline color */
  border-radius: 2px;
}
.header-list-item a:hover::after,
.header-list-item a:hover::after {
  width: 100%; /* underline will cover the entire width of the link */
}

/* header list item are ended */

.header-contacts{
  margin-left: auto;
  align-items: center;
  gap: 50px;
}
.header-contacts-items a:hover,
.header-contacts-items a:focus{
  color: var(--focus-color);
}