.section-title {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%; 
  background-image: 
    linear-gradient(
      rgba(47, 48, 58, 0.4) 0%, 
      rgba(130, 132, 160, 0.4) 100%
    ), 
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}
.title {
  margin-bottom: 30px;
  color: var(--main-current-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.button {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
}
.features{
  padding-top: 94px;
}
.main-list{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.main-list-title{
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-list-paragraph {
  width: 270px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}
h3 {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-heading-color);
}
.first-main-list-item,
.second-main-list-item,
.third-main-list-item,
.fourth-main-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
/* before elemets are started*/
}
.first-main-list-item::before {
    content: "";
    display: block;
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../img/first-before-element-all.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}
.second-main-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  background-image: url(../img/second-before-element.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.third-main-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  background-image: url(../img/third-before-element.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.fourth-main-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  background-image: url(../img/fourth-before-element.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}